<!-- *****************************************************************************************************************
 FOOTER
 ***************************************************************************************************************** -->
 <div id="footerwrap">
     <div class="container">
         <div class="row">
             <div class="col-lg-4">
                 <h4>About</h4>
                 <div class="hline-w"></div>
                 <p>MedLyte powers the first vertical network that connects patients and healthcare providers across the web. Every month, millions of patients use our tools to find, evaluate, and engage with the providers best suited to address their specific needs and preferences.</p>
             </div>
             <div class="col-lg-4">
                 <h4>Social Links</h4>
                 <div class="hline-w"></div>
                 <p>
                     <a href="#"><i class="fa fa-facebook"></i></a>
                     <a href="#"><i class="fa fa-twitter"></i></a>
                     <a href="#"><i class="fa fa-instagram"></i></a>
                     <a href="#"><i class="fa fa-tumblr"></i></a>
                 </p>
             </div>
             <div class="col-lg-4">
                 <h4>Our Bunker</h4>
                 <div class="hline-w"></div>
                 <p>
                     Room 312,<br/>
                     IIT Bombay,<br/>
                    Mumbai,<br/>
                     India.<br/>
                 </p>
             </div>
         </div><! --/row -->
        <hr/>
        <div class="row footer">
            <div class="col-lg-4">
                <p>
                    <a href="#">Contact</a> | 
                    <a href="#">Privacy Policy</a> | 
                    <a href="#">Terms of Service</a> | 
                    <a href="#">Disclaimers</a>
                </p>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <p>&copy; MedLyte &nbsp;All Rights Reserved</p>
            </div>
        </div>
     </div><! --/container -->
 </div><! --/footerwrap -->